h1, h2, h3, p, span{
    font-weight: 500;
}


h1{
    font-size: 7.9rem;
}

h2{

    font-size: 5rem;
    line-height: 6.4rem;
}

h3{

    font-size: 2.2rem;
    line-height: 3.1rem;

}

p{
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: var(--gray-banner);
}