:root{
    --black: #000000;
    --black-100: #aeaeae80;
    --black-banner:#2D2D2D;
    --gray-banner:#70798B;
    --white: #ffffff;
    --green:#0CD68A;
    --black-bg:#262626;
    --aqua:#C4FFE9;
    --blue-100:#C3F4FF;
    --pink: #F6C3FF;
    --red:  #FFC3C7;
    --yellow: #FFC63A;

}